### SQL Practice

In [1]:
from IPython.display import Image, display

1. The first column is an alphabetically ordered list of Doctor names. The second column is an alphabetically ordered list of Professor names. The third column is an alphabetically ordered list of Singer names. The fourth column is an alphateically ordered list of Actor names. The empty cell data for columns with less than the max number of names per occupation (in this case, the Professor and Actor columns) are filled with NULL values. Datatype is string. Output headers should be Doctor, Professor, Singer, and Actor respectively.

#### Table Name: Occupations

| Name | Occupation |
| --- | --- |
| Samantha | Doctor |
| Julia | Actor |
| Maria | Actor |
| Meera | Singer |
| Ashley | Professor |
| Ketty | Professor |
| Christeen | Professor |
| Jane | Actor |
| Jenny | Doctor |
| Priya | Singer |


*Sample Output*


| Doctor | Professor | Singer | Actor |
| --- | --- | --- | --- |
| Jenny | Ashely | Meera | Jane |
| Samantha | Christeen | Priya | Julia |
| NULL | Ketty | NULL | Maria |

*Select 
    Max(Case when occupation='Doctor' then Name end ) as Doctor,
    Max(Case when occupation='Professor' then Name end) as Professor, 
    Max(Case when occupation='Singer' then Name end) as Singer,
    Max(Case when occupation='Actor' then Name end) as Actor 
From ( 
    select name, occupation, row_number() over (partition by Occupation order by Name) as rnk 
    from occupations ) 
group by rnk order by rnk;*